.sidebar {
  height: 90%;
  width: 350px;
  border-right: 1px solid var(--color-shadow);
  margin: 50px 0px;
  padding-left: 30px;
}

.sidebar__title {
  color: var(--color-main);
  font-size: 2em;
  margin: 0;
}
